<% if @pending_bookings.empty? %>
  <h1>Aucun club ne s'interesse à nos joueurs.</h1>
<% else %>
  <h1>Demandes reçues :</h1>
  <%= @pending_bookings.each do |booking| %>
    <%= booking.club.name %>
    <%= booking.player.name %>
    <%= booking.total_price %>
    <%= button_to 'Accepter', accept_dashboard_booking_path(booking), method: :patch %>
    <%= button_to 'Refuser', refuse_dashboard_booking_path(booking), 
                            method: :patch, 
                            data: { confirm: 'Êtes-vous sûr de vouloir refuser cette demande ?' } %>
  <% end %>
<% end %>
<h1>Demandes envoyées :</h1>
<% @bookings.each do |booking| %>
  <div class="dashboard-players-grid">
    <%= link_to dashboard_booking_path(booking), class:"flex flex-row mx-auto my-6 p-4 w-[90%] rounded-xl justify-between items-center black-bg shadow-green" do  %>
      <%= image_tag booking.player.photo, class: "w-[35%] h-auto rounded-xl bg-center object-cover" %>
      <div class="flex flex-col justify-evenly items-center align-middle text-center w-[60%]">
        <p><%= booking.player.name  %></p>
        <p><%= t("activerecord.enums.booking.status.#{booking.status}") %></p>
        <p><%= booking.total_price %> €</p>
      </div>
    <% end %>
  </div>
<% end %>
