<div class="container">
  <h1>Bienvenue au Nouveau Mercato</h1>
  <div class="gradient"></div>
  <section>
    Partie actualités
  </section>
  <div class="gradient"></div>
  <section>
    Partie clubs
  </section>
  <div class="gradient"></div>
  <%= render "players/search" %>
  <div class="grid-players">
    <% @players.each do |player| %>
      <%= link_to player_path(player) do %>
        <div class="grid-player">
          <%= image_tag(player.img) %>
          <p><%= player.name %></p>
          <p><%= player.position.capitalize %></p>
          <p>Pied <%= player.foot.capitalize %></p>
          <p><span><%= player.price_per_day%> €</span> / jour</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
