<div class="container">
  <h1>Bienvenue au Nouveau Mercato Hello!</h1>
  <%= render "players/search" %>
</div>
<div class="container mt-5">
  <div class="grid-players">
    <% @players.each do |player| %>
      <%= link_to player_path(player) do %>
        <div class="grid-player">
          <%= image_tag(player.img) %>
          <p><%= player.name %></p>
          <p><%= player.position.capitalize %></p>
          <p>Pied <%= player.foot.capitalize %></p>
          <p><%= player.price_per_day%> €</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
