<div class="container">
  <div class="big-card">
    <%= image_tag(@player.img) %>
    <h1><%= @player.name %></h1>
    <%= image_tag @player.club.photo %>
  </div>
  <%= link_to "Retour", :back, class:"btn back"%>
  <div class="grid-infos">
    <div class="booking" data-controller="total-price-booking">
      <h1><span data-total-price-booking-target="pricePerDay"><%= @player.price_per_day %></span> <span class="euro">€</span>
        <span class="small">par jour.</span>
      </h1>
      <div data-controller="owner-renting" data-user-id="<%= current_user.id if user_signed_in? %>">
        <% if user_signed_in? %>
          <%= render "bookings/form", booking: @booking %>
        <% else %>
          <%= link_to "Connexion", new_user_session_path, class:"btn" %>
        <% end %>
      </div>
    </div>
    <div class="infos-card">
      <div class="icon">
        <i class="fa-solid fa-arrows-up-down-left-right"></i>
      </div>
      <div class="text">
        <h5>Position</h5>
        <h6><%= @player.position.capitalize %></h6>
      </div>
    </div>
    <div class="infos-card">
      <div class="icon">
        <i class="fa-solid fa-cake-candles"></i>
      </div>
      <div class="text">
        <h5>Age</h5>
        <h6><%= @player.age %> ans</h6>
      </div>
    </div>
    <div class="infos-card">
      <div class="icon">
        <i class="fa-solid fa-left-right"></i>
      </div>
      <div class="text">
        <h5>Meilleur pied</h5>
        <h6><%= @player.foot %></h6>
      </div>
    </div>
    <div class="infos-card">
      <div class="icon">
        <i class="fa-solid fa-ruler"></i>
      </div>
      <div class="text">
        <h5>Taille</h5>
        <h6><%= @player.height %></h6>
      </div>
    </div>
    <div class="infos-card">
      <div class="icon">
        <i class="fa-solid fa-earth-americas"></i>
      </div>
      <div class="text">
        <h5>Nationalité</h5>
        <h6><%= @player.nationality %></h6>
      </div>
    </div>
  </div>
</div>
