<div class="mt-4 gradient"></div>
<%= image_tag (@player.photo), class:"w-48 h-auto object-cover mx-auto my-4 rounded-2xl" %>
<h1 class="text-center pb-4"><%= @player.name.upcase %></h1>
<div class="green-bg w-full rounded-t-2xl py-4 shadow-green">
  <div class="flex flex-col gap-2 justify-center items-center w-[90%] border-b-1 mx-auto border-b-neutral-400 py-4">
    <h2><%= t("activerecord.enums.player.position.#{@player.position}") %></h2>
    <h5><%= @player.club.name %></h5>
    <%= image_tag (@player.club.logo), class:"w-14 h-14" %>
  </div>
  <div class="flex flex-col gap-2 justify-start align-center w-[95%] mx-auto p-2">
    <h2 class="text-center">Informations</h2>
    <h5>Pied</h5>
    <div class="text-cyan-500">
      <i class="fa-solid fa-shoe-prints"></i>
    </div>
    <p><%= @player.foot %></p>
    <h5>Age</h5>
    <p><%= @player.age %></p>
    <h5>Taille</h5>
    <p><%= @player.height %></p>
    <h5>Valeur sur le marché</h5>
    <p><%= @player.market_value %></p>
  </div>
</div>
<div class="m-10">
  <%= render "bookings/form", booking: @booking %>
</div>
