<h1>Bonjour, <%= @user.first_name %> <%= @user.last_name %>.</h1>
<h5>Votre rôle au sein de <%= @club.name %> : <%= @user.role.capitalize %>.</h5>
<div>
  <% @players.each do |player| %>
    <p><%= player.name %></p>
  <% end %>
</div>