<div class="photo-end"></div>
<footer class="w-full p-4">
  <div class="footer-container max-w-[1400px] mx-auto flex flex-col gap-6 md:flex-row md:p-6 md:justify-between">
    <div class="text-footer black-bg">
      <h3>New Mercato</h3>
      <span><%= link_to 'Joueurs', root_path %></span>
      <span><%= link_to 'Clubs', root_path %></span>
      <span><%= link_to 'Statistiques', root_path %></span>
    </div>
    <div class="text-footer black-bg">
      <h3>Rejoignez-nous</h3>
      <span><%= link_to 'Contactez-nous', root_path %></span>
      <span><%= link_to 'Qui sommes-nous ?', root_path %></span>
      <span><%= link_to 'Et après ?', root_path %></span>
    </div>
    <div class="text-footer black-bg">
      <h3>Mentions légales</h3>
      <span><%= link_to 'Mentions légales du site', root_path %></span>
      <span><%= link_to 'Conditions générales', root_path %></span>
    </div>
  </div>
</footer>
<div class="footer-banner flex justify-center green-bg w-full">
  <p class="scale-80">Copyright. Tous droits réservés.</p>
</div>
