<footer class="w-full p-4">
  <div class="footer-container max-w-[1400px] mx-auto">
    <%= image_tag 'NewMercato.PNG' %>
    <div class="text-footer">
      <%= link_to 'Joueurs', root_path %>
      <%= link_to 'Joueurs', root_path %>
      <%= link_to 'Joueurs', root_path %>
    </div>
    <div class="text-footer">
      <%= link_to 'Joueurs', root_path %>
      <%= link_to 'Joueurs', root_path %>
      <%= link_to 'Joueurs', root_path %>
    </div>
  </div>
</footer>
