<header class="w-full black-bg">
  <nav class="w-full relative" data-controller="mobile-menu">
    <div class="w-[95%] mx-auto  flex justify-between items-center h-[7vh] md:h-[9vh]">
      <%= image_tag 'NewMercato.PNG', id:"logo-img" %>
      <div class="hidden md:flex flex-row items-center space-x-10">
        <%= link_to players_path do %>
          <h5>Joueurs</h5>
        <% end %>
        <%= link_to root_path do %>
          <h5>Statistiques</h5>
        <% end %>
        <%= link_to clubs_path do %>
          <h5>Clubs</h5>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to dashboard_path do %>
            <p>Tableau de bord</p>
          <% end %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
            <p>Déconnexion</p>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <p>Connexion</p>
          <% end %>
        <% end %>
      </div>
      <div class="md:hidden flex items-center"  >
        <button class="menu-button" data-mobile-menu-target="button" data-action="click->mobile-menu#toggle">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="mobile-menu" data-mobile-menu-target="tabs">
          <%= link_to players_path do %>
            <h5>Joueurs</h5>
          <% end %>
          <%= link_to root_path do %>
            <h5>Statistiques</h5>
          <% end %>
          <%= link_to clubs_path do %>
            <h5>Clubs</h5>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to dashboard_path do %>
              <p>Tableau de bord</p>
            <% end %>
            <%= link_to destroy_user_session_path do %>
              <p>Déconnexion</p>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <p>Connexion</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
