<header class="w-full black-bg">
  <nav class="w-full relative" data-controller="mobile-menu">
    <div class="w-[95%] mx-auto  flex justify-between items-center ">
      <%= image_tag 'NewMercato.PNG', id:"logo-img" %>
      <div class="hidden md:flex flex-row items-center space-x-10">
        <%= link_to root_path do %>
          <h5>Joueurs</h5>
        <% end %>
        <%= link_to root_path do %>
          <h5>Statistiques</h5>
        <% end %>
        <%= link_to root_path do %>
          <h5>Clubs</h5>
        <% end %>
      </div>
      <div class="md:hidden flex items-center"  >
        <button class="menu-button" data-mobile-menu-target="button" data-action="click->mobile-menu#toggle">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="mobile-menu" data-mobile-menu-target="tabs">
          <%= link_to root_path do %>
            <h5>Joueurs</h5>
          <% end %>
          <%= link_to root_path do %>
            <h5>Statistiques</h5>
          <% end %>
          <%= link_to root_path do %>
            <h5>Clubs</h5>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
