<header>
  <nav>
    <ul>
      <div class="list-container">
        <li>
          <%= link_to players_path do %>
            <%= image_tag('NewLogo.png') %>
          <% end %>
        </li>
      </div>
      <div class="list-container">
        <%= link_to root_path do %>
          <li>Accueil</li>
        <% end %>
        <li>
          Statistiques
        </li>
        <% if user_signed_in? %>
          <li><%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
          </li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, data:{turbo_method: :delete} %>
          </li>
        <% else %>
          <li><%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %></li>
        <% end %>
      </div>
    </ul>
  </nav>
  <div class="gradient">
  </div>
</header>
